<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p><%= user.email %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<h3>Add a book</h3>
<form action="/dashboard" method="POST" >
    <div>Author:</div>
    <input type="text" name="author" >
    <div>Title:</div>
    <input type="text" name="title" >
    <input type="text" name="email" value="<%= user.email %>" >
    <button type="submit" >SAVE</button>


</form>
<div><span>books:</span><span><%= user.books.length %></span></div>
<div>

    <table>
        <tr><th></th><th>Author</th><th>Title</th><th>Stars</th></tr>
        <% user.books.forEach(function(book, i){ %>
            <tr id='<%= book._id %>' ><td><%= i+1 %>.</td><td><%= book.author %></td><td><%= book.title %></td><td class="starWrapper" id='<%= book._id %>'>
                       <% if(book.stars == 1){ %>
                            <span class="fullstar" onclick='starIncr(1, this)' >★</span><span class="emptystar" onclick='starIncr(2, this)'>★</span><span class="emptystar" onclick='starIncr(3, this)'>★</span>
                       <% } else if(book.stars == 2){ %>
                            <span class="fullstar" onclick='starIncr(1, this)'>★</span><span class="fullstar" onclick='starIncr(2, this)'>★</span><span class="emptystar" onclick='starIncr(3, this)' >★</span>
                       <% } else if(book.stars == 3){ %>
                            <span class="fullstar" onclick='starIncr(1, this)'>★</span><span class="fullstar" onclick='starIncr(2, this)'>★</span><span class="fullstar" onclick='starIncr(3, this)'>★</span>
                       <% } else { %>
                            <span class="emptystar" onclick='starIncr(1, this)'>★</span><span class="emptystar" onclick='starIncr(2, this)'>★</span><span class="emptystar" onclick='starIncr(3, this)'>★</span>
                       <% } %>
                </td><td onclick="delBook(this)" >del</td></tr>
        <% }); %>
    </table>




</div>